<section class="contact-us">
    <div class="contact-us__container container">
        <div class="contact-us__text">
            <p class="contact-us__title">
                Сделайте шаг к созданию дома вашей мечты. <br>
                Позвоните нам или оставьте номер телефона и мы обсудим все ваши<br>
                пожелания.
            </p>
        </div>
        <div class="contact-us__form">
            <form class="form" method="post">

                <input  class="form-input" type="text" placeholder="Имя">

                <input  class="form-input" type="tel" placeholder="Телефон">

                <div class="input-type-work _icon-Arrow">
                    <input class="form-input" type="text" placeholder="Вид работы">
                </div>

                <button class="form-btn" type="submit">
                    ОТПРАВИТЬ
                </button>
            </form>
        </div>
    </div>
<!--    <div class="contact-us__container container">-->
<!--        <div class="row">-->
<!--            <div class="col-7">-->
<!--                <h2 class="contact-us__title">-->
<!--                    Сделайте шаг к созданию дома вашей мечты.<br>-->
<!--                    Позвоните нам или оставьте номер телефона и мы обсудим все ваши пожелания.-->
<!--                </h2>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--                <form class="form" method="post">-->

<!--                    <input class="form-input" type="text" placeholder="Имя">-->

<!--                    <input class="form-input" type="tel" placeholder="Телефон">-->

<!--                    <div class="input-type-work _icon-Arrow">-->
<!--                        <input class="form-input" type="text" placeholder="Вид работы">-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <input class="form-input " type="text" placeholder="Вид работы">&ndash;&gt;-->


<!--                    <button class="form-btn" type="submit">-->
<!--                        ОТПРАВИТЬ-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>

