<div>

    <div class=" menu-fixed">

        <svg class="menu-burger">
            <use xlink:href="img/sprite.svg#menu"></use>
        </svg>
        <div class="social">
            <a class="social-btn _icon-instagram" href="#">
            </a>
            <a class="social-btn _icon-fecbook" href="#">
            </a>
            <a class="social-btn _icon-telegram" href="#">
            </a>
        </div>
    </div>
</div>