<section class="carousel">
    <div class="slider">
        <div class="slider__bg">
            <img src="img/slider/bg-5.png" alt="bg-1">
        </div>
        <div class="slider__text">
            <div class="slider__text-container container">
                <div class="slider__text-wrapper">
                    <h3 class="slider__number">02</h3>
                    <p class="slider__text-subsection">Строительство</p>
                    <h2 class="slider__text-title">загородный Дом</h2>
                    <p class="slider__text-info">Краткое описание проекта.
                        Мы выполняем ремонты любой сложности по готовому чертежу, при этом максимально придерживаясь проекта.
                        Все работы проводятся по принципу «открытого чека» — с предоставлением всех счетов, без накруток и
                        изменения цен.
                    </p>
                </div>
                <div class="slider-small-img d-flex">
                    <img src="img/slider/img-small.png" alt="img-small">
                    <div class="slider-small-text">
                        <h4 class="slider-small-next-project">Следующий проект</h4>
                        <h3 class="slider-small-title">Загородный дом</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="slider__bg">
            <img src="img/slider/bg-2.png" alt="bg-1">
        </div>
        <div class="slider__text">
            <div class="slider__text-container container">
                <div class="slider__text-wrapper">
                    <h3 class="slider__number">02</h3>
                    <p class="slider__text-subsection">Строительство</p>
                    <h2 class="slider__text-title">загородный Дом</h2>
                    <p class="slider__text-info">Краткое описание проекта.
                        Мы выполняем ремонты любой сложности по готовому чертежу, при этом максимально придерживаясь проекта.
                        Все работы проводятся по принципу «открытого чека» — с предоставлением всех счетов, без накруток и
                        изменения цен.
                    </p>
                </div>
                <div class="slider-small-img d-flex">
                    <img src="img/slider/img-small.png" alt="img-small">
                    <div>
                        <h4>Следующий проект</h4>
                        <h3>Загородный дом</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="slider__bg">
            <img src="img/slider/bg-3.png" alt="bg-1">
        </div>
        <div class="slider__text">
            <div class="slider__text-container container">
                <div class="slider__text-wrapper">
                    <h3 class="slider__number">02</h3>
                    <p class="slider__text-subsection">Строительство</p>
                    <h2 class="slider__text-title">загородный Дом</h2>
                    <p class="slider__text-info">Краткое описание проекта.
                        Мы выполняем ремонты любой сложности по готовому чертежу, при этом максимально придерживаясь проекта.
                        Все работы проводятся по принципу «открытого чека» — с предоставлением всех счетов, без накруток и
                        изменения цен.
                    </p>
                </div>
                <div class="slider-small-img d-flex">
                    <img src="img/slider/img-small.png" alt="img-small">
                    <div>
                        <h4>Следующий проект</h4>
                        <h3>Загородный дом</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="slider__bg">
            <img src="img/slider/bg-4.png" alt="bg-1">
        </div>
        <div class="slider__text">
            <div class="slider__text-container container">
                <div class="slider__text-wrapper">
                    <h3 class="slider__number">02</h3>
                    <p class="slider__text-subsection">Строительство</p>
                    <h2 class="slider__text-title">загородный Дом</h2>
                    <p class="slider__text-info">Краткое описание проекта.
                        Мы выполняем ремонты любой сложности по готовому чертежу, при этом максимально придерживаясь проекта.
                        Все работы проводятся по принципу «открытого чека» — с предоставлением всех счетов, без накруток и
                        изменения цен.
                    </p>
                </div>
                <div class="slider-small-img d-flex">
                    <img src="img/slider/img-small.png" alt="img-small">
                    <div>
                        <h4>Следующий проект</h4>
                        <h3>Загородный дом</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



