@import "../../node_modules/slick-carousel/slick/slick.scss";


//.carousel {
//
//}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
  width: 70px;
  height: 52px;
  font-size: 0;
}


.slick-prev {
  left: 50%;
  z-index: 10;
  background: url(../img/slider/arrow-prev.png) 0 0/cover no-repeat;
  cursor: pointer;
}

.slick-next {
  right: 0;
  background: url(../img/slider/arrow-next.png) 0 0/cover no-repeat;
  cursor: pointer;
}

