@font-face {
  font-family: 'svg_fonts';
  src: url('../fonts/svg_fonts.ttf?1h3xlc') format('truetype');
  //url('../fonts/svg_fonts.woff?1h3xlc') format('woff'),
  //url('../fonts/svg_fonts.svg?1h3xlc#svg_fonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'svg_fonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Arrow:before {
  content: "\e900";
  position: absolute;
  right: 20px;
  top: 25px;
  color: rgba(4, 4, 14, 0.5);
}

._icon-instagram:before {
  content: "\e901";
}

._icon-fecbook:before {
  content: "\e902";
}

._icon-telegram:before {
  content: "\e903";
}
