@import "../../node_modules/bootstrap/scss/bootstrap";
@import "second";
@import "fonts";
@import "svg-fonts";
@import "slick";


body {
  font-family: 'Montserrat-SemiBold', sans-serif;
}

img {
  max-width: 100%;
}

.carousel {
  padding-top: 50px;
  padding-bottom: 50px;

  &__img {
    margin: 0 auto;
  }
}

.slider {
  position: relative;
  background: #2F6067;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    max-width: 60%;
  }

  &__text-container {
    position: relative;
  }

  &__text-wrapper {
    width: 40%;
    padding-top: 200px;
    padding-bottom: 200px;
    @media screen and (max-width: 1300px) {
      padding-left: 60px;
    }
    //@media screen and (max-width: 1300px) {
    //  padding-left: 60px;
    //}
  }
  &__text {
    color: #FFFFFF;

    &-subsection {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      display: flex;
      align-items: flex-end;
      color: #B8B8B9;
    }

    &-title {
      margin-bottom: 15px;
      font-weight: 900;
      font-size: 54px;
      line-height: 66px;
      white-space: nowrap;
      text-transform: uppercase;
    }

    &-info {
      margin: 0;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__number {
    position: absolute;
    left: -120px;
    top: 0;
    font-family: IvyModeLight, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 400px;
    line-height: 506px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    opacity: 0.05;
  }

  &-small-img {
    display: flex;
    position: absolute;
    bottom: 60px;
    right: 0;
  }

  &-small-text {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 12px rgba(34, 34, 34, 0.1);
    backdrop-filter: blur(6px);
    padding: 29px 60px 29px 15px;
    border-radius: 0 12px 12px 0;
  }

  &-small-next-project {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #04040E;
  }

  &-small-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #04040E;
  }
}

.menu-fixed {
  background: #04040E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 124px;
  position: fixed;
  height: 100%;
  z-index: 5;
  top: 0;

  .social-btn {
    color: #FFFFFF;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;

    :hover {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}

.menu-burger {
  width: 44px;
  height: 27px;
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.contact-us {
  padding-top: 125px;
  padding-bottom: 125px;
  background: #4e555b url(../img/contact-us/bg-contact-us.png) 0 0/cover no-repeat;

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__text {
    padding-right: 80px;
    flex: 1 0 70%;
  }

  &__title {
    margin-top: 60px;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    color: #FFFFFF;
  }

  &__form {
    max-width: 520px;
  }
}

input {
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgb(4, 4, 14);

  &::placeholder {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(4, 4, 14, 0.5);
  }
}

.input-type-work {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.form-btn {
  margin-top: 15px;
  padding: 24px;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}